<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>

  <style>
    body {
      background-color: rgb(118, 118, 224);
    }
    h1 {
      color: rgb(175, 212, 236);
    }
    p {
      color: rgb(175, 212, 236);
    }
    .gg {
      color: rgb(175, 212, 236);
    }
    .yy {
      color: dimgray;
      background-color: gray;
    }
  </style>
  <body>
    <div class="container text-center">
      <h1>This generator created by Marufkhon Kurbonkhujaev</h1>
      <p>Marufkhon is Software engenary and Motivator.</p>
      <p class="gg">Guys thank you so much for attention!!!</p>
      <form action="{% url 'home' %}">
        <input type="Submit" value="Home" class="btn btn-dark" />
      </form>
    </div>
  </body>
</html>
