<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <style>
    body {
      background-color: rgb(177, 176, 176);
    }
  </style>
  <body>
    <div class="container text-center">
      <h1>Password Generator</h1>

      <form action="{%url 'password'%}">
        <select name="length">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="60">60</option>
        </select>
        Length
        <br />
        <input type="checkbox" name="Uppercase" />Uppercase
        <br />
        <input type="radio" name="littleword" />Word
        <br />
        <input type="checkbox" name="Numbers" />Numbers
        <br />
        <input type="checkbox" name="Special" />Special
        <br />
        <input
          type="Submit"
          value="Password Generate"
          class="btn btn-primary"
        />
      </form>

      <form action="{%url 'creator' %}">
        <input type="Submit" value="Creator" class="btn btn-success" />
      </form>
    </div>
  </body>
</html>
